{% extends 'base.html.twig' %}

{% block body %}
    <h1> Home page </h1>

    <h2> Ramen list</h2>
    <hr>
    {% for ramen in ramens %}

        <h3> {{ ramen.name }}</h3>
        <p> {{ ramen.description }}</p>

        <p>
            Ingredients:
            {{ ramen.ingrediants }}
        </p>

        <p>
            Price range:
            {{ ramen.pricerange }}
        </p>

        <p>
            {{ ramen.photo }}
        </p>

        {% for review in reviews %}
            {% if review.ramen.id == ramen.id %}
                <a href="{{ url('review_show', {'id':review.id }) }}"> review</a>
            {% endif %}
        {% endfor %}
        <hr>

    {% endfor %}

{% endblock %}
