{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}

    <h1>Review</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>Reviewed By</th>
            <td>{{ review.user.username }}</td>
        </tr>
        <tr>
            <th>Ramen</th>
            <td>{{ review.ramen.name }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ review.summary }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ review.date ? review.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Shopname</th>
            <td>{{ review.shopname }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ review.price }} &euro;</td>
        </tr>
        <tr>
            <th>Stars</th>
            <td><span class="rating-static rating-{{ review.stars }}"></span></td>
            {#<td>{{ review.stars }}</td>#}
        </tr>
        <tr>
            <th>Photo</th>
            <td><img class="items" src="/images/{{ review.photo }}" alt="{{ review.photo }}"></td>
        </tr>


        <tr>
            <th>Public</th>
            <td>{{ review.public ? 'Yes' : 'No' }}</td>
        </tr>

    </table>

    <a href="{{ path('default') }}">Back to Home</a>


{% endblock %}