{% extends 'base.html.twig' %}

{% block title %}Ramen index{% endblock %}

{% block body %}

    <h1>Ramen index</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Ingrediants</th>
                <th>Pricerange</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for raman in ramens %}
            <tr>
                <td>{{ raman.id }}</td>
                <td>{{ raman.name }}</td>
                <td>{{ raman.photo }}</td>
                <td>{{ raman.description }}</td>
                <td>{{ raman.ingrediants }}</td>
                <td>{{ raman.pricerange }}</td>
                <td>
                    <a href="{{ path('ramen_show', {'id': raman.id}) }}">show</a>
                    <a href="{{ path('ramen_edit', {'id': raman.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('ramen_new') }}">Create new</a>

{% endblock %}